<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDs0N7HfhS4EwIT1lgLjMd4rg85IHTiWT0",
    authDomain: "mysite-265111.firebaseapp.com",
    databaseURL: "https://mysite-265111.firebaseio.com",
    projectId: "mysite-265111",
    storageBucket: "mysite-265111.appspot.com",
    messagingSenderId: "444473279109",
    appId: "1:444473279109:web:d49090ddcc694ae3b85fec",
    measurementId: "G-CLK1SH9RJP"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>